<div class="row">
  <div class="col-md-12">
    <h2>Statistics Escher</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>List node types</h5>
    <ul>
      <li *ngFor="let object of nodeCounter | keys">Type <strong>{{object.key}}</strong> has <strong>{{object.value}}</strong> nodes</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>Genes that are part of more than one reaction.</h5>
    <ul id="genes">
      <li *ngFor="let gene of genes | keys "><strong>{{gene.key}}</strong> intervenes in <strong>{{gene.value}}</strong> reactions</li>
    </ul>
  </div>
</div>
