ul{
  list-style: none;
}

ul#genes > li,
ul#nodes > li{
  font-size: 13.5px;
  cursor: pointer;
}

ul#genes > li:hover,
ul#nodes > li:hover {
  color: mediumblue;

}

.reaction,
.node{
  margin-left: .5em;
}

.panel  > li{
  list-style: circle;
  margin-left: 2em;
  cursor: pointer;
}

.grey-background{
  border: 1px solid #000000;
  background: #E6E6E6;
}
