.escher{
    height: 35em;
}
.escher-3d-transform-container {
    height: 35em !important;
}
.segment-group path.segment{
    stroke:red !important;
}
.switch-color{
  margin-top: 2%;
  background-color: #334E75;
  border-color: #334E75;
   margin-bottom: 4%;
 }



